body {
    margin: 0;
    background: darkcyan;
    font-family: 'MuseoModerno', cursive;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: aquamarine;
    font-weight: 900;
    font-size: 64px;
    text-transform: capitalize;
}

.wrapper div {
    overflow: hidden;
}

.wrapper div:first-of-type {
    animation: box1 4s infinite;
}

.wrapper div:last-of-type {
    width: 0;
    animation: box3 4s infinite;
}

.wrapper div:last-of-type span {
    animation: box2 4s infinite;
}

@keyframes box1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes box2 {
    0% {
        margin-left: -600px;
    }

    20% {
        margin-left: -600px;
    }

    35% {
        margin-left: 10px;
    }

    100% {
        margin-left: 10px;
    }
}

@keyframes box3 {
    0% {
        opacity: 0;
        width: 0;
    }

    20% {
        opacity: 1;
        width: 0;
    }

    30% {
        width: 360px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 360px;
    }
}